---
import type { MarkdownHeading } from '@astrojs/markdown-remark';

const { headings } = Astro.props;
---

<div
  class="not-prose fixed bottom-0 right-[max(0px,calc(50%-45rem))] top-[3.8125rem] z-20 hidden w-[19.5rem] overflow-y-auto py-10 xl:block"
>
  <div class="px-8">
    <h5 class="mb-4 text-sm font-semibold leading-6 text-slate-900 dark:text-slate-100">
      On this page
    </h5>
    <ul class="text-sm leading-6 text-slate-700">
      {
        headings &&
          headings.map((heading: MarkdownHeading) => (
            <li>
              <a
                href={'#' + heading.slug}
                class={
                  'block py-1 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300' +
                  (heading.depth == 2 ? ' font-medium' : '')
                }
              >
                {heading.text}
              </a>
            </li>
          ))
      }
    </ul>
  </div>
</div>
