html body {
  font-synthesis: style;
}

/* Chinese quotes rendering fix. 中英文弯引号共享 Unicode 码位，确保引号使用中文字体渲染 */
@font-face {
  font-family: "Chinese Quotes";
  src:
    local("PingFang SC Regular"), local("PingFang SC"), local("SimHei"),
    local("Source Han Sans SC");
  unicode-range: U+2018, U+2019, U+201C, U+201D;
  /* 分别是 ‘’“” */
}
