@import 'fonts.css';
@import 'code.css';

html {
  height: 100%;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

.dark {
  color-scheme: dark;
}

.heading-anchor:before {
  content: '#';
}

.heading-anchor {
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-weight: 500;
  opacity: 0;
  transition: color 0.25s, opacity 0.25s;
}

h1:hover .heading-anchor,
h1 .heading-anchor:focus,
h2:hover .heading-anchor,
h2 .heading-anchor:focus,
h3:hover .heading-anchor,
h3 .heading-anchor:focus,
h4:hover .heading-anchor,
h4 .heading-anchor:focus,
h5:hover .heading-anchor,
h5 .heading-anchor:focus,
h6:hover .heading-anchor,
h6 .heading-anchor:focus {
  opacity: 1;
}
