@import 'fonts.css';
@import 'code.css';

html {
  height: 100%;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

.dark {
  color-scheme: dark;
}

.heading-anchor:before {
  content: '#';
}

.heading-anchor {
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-weight: 500;
  opacity: 0;
  transition:
    color 0.25s,
    opacity 0.25s;
}

h1:hover .heading-anchor,
h1 .heading-anchor:focus,
h2:hover .heading-anchor,
h2 .heading-anchor:focus,
h3:hover .heading-anchor,
h3 .heading-anchor:focus,
h4:hover .heading-anchor,
h4 .heading-anchor:focus,
h5:hover .heading-anchor,
h5 .heading-anchor:focus,
h6:hover .heading-anchor,
h6 .heading-anchor:focus {
  opacity: 1;
}

@keyframes slide-enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .slide-enter-content > * {
    --stagger: 0;
    --delay: 90ms;
    --start: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
  }

  .slide-enter-content > *:nth-child(1) {
    --stagger: 1;
  }
  .slide-enter-content > *:nth-child(2) {
    --stagger: 2;
  }
  .slide-enter-content > *:nth-child(3) {
    --stagger: 3;
  }
  .slide-enter-content > *:nth-child(4) {
    --stagger: 4;
  }
  .slide-enter-content > *:nth-child(5) {
    --stagger: 5;
  }
  .slide-enter-content > *:nth-child(6) {
    --stagger: 6;
  }
  .slide-enter-content > *:nth-child(7) {
    --stagger: 7;
  }
  .slide-enter-content > *:nth-child(8) {
    --stagger: 8;
  }
  .slide-enter-content > *:nth-child(9) {
    --stagger: 9;
  }
  .slide-enter-content > *:nth-child(10) {
    --stagger: 10;
  }
  .slide-enter-content > *:nth-child(11) {
    --stagger: 11;
  }
  .slide-enter-content > *:nth-child(12) {
    --stagger: 12;
  }
  .slide-enter-content > *:nth-child(13) {
    --stagger: 13;
  }
  .slide-enter-content > *:nth-child(14) {
    --stagger: 14;
  }
  .slide-enter-content > *:nth-child(15) {
    --stagger: 15;
  }
  .slide-enter-content > *:nth-child(16) {
    --stagger: 16;
  }
  .slide-enter-content > *:nth-child(17) {
    --stagger: 17;
  }
  .slide-enter-content > *:nth-child(18) {
    --stagger: 18;
  }
  .slide-enter-content > *:nth-child(19) {
    --stagger: 19;
  }
  .slide-enter-content > *:nth-child(20) {
    --stagger: 20;
  }
}
