---
const today = new Date();
---

<footer class="mt-8 w-full py-8">
  <p
    class="block text-center text-sm font-normal leading-relaxed text-slate-500"
  >
    &copy; 2003-{today.getFullYear()} StarHeartHunt. All rights reserved.
  </p>
  <p
    class="block text-center text-sm font-normal leading-relaxed text-slate-500"
  >
    Powered by <a
      class="text-cyan-600 hover:text-cyan-500"
      href="https://astro.build/"
      target="_blank">Astro</a
    >
  </p>
  <p
    class="block text-center text-sm font-normal leading-relaxed text-slate-500"
  >
    <a
      class="text-cyan-600 hover:text-cyan-500"
      href="https://beian.miit.gov.cn/"
      target="_blank">粤ICP备2021063081号-1</a
    >
  </p>
</footer>
