---
const today = new Date();
---

<footer class="mt-8 w-full bg-[#f8fafc] py-8">
  <p class="block text-center text-sm font-normal leading-relaxed text-slate-500 antialiased">
    &copy; 2003-{today.getFullYear()} StarHeartHunt. All rights reserved.
  </p>
  <p class="block text-center text-sm font-normal leading-relaxed text-slate-500 antialiased">
    Powered by <a
      class="text-sky-500 hover:text-sky-900 dark:hover:text-sky-400"
      href="https://astro.build/"
      target="_blank">Astro</a
    >
  </p>
  <p class="block text-center text-sm font-normal leading-relaxed text-slate-500 antialiased">
    <a
      class="text-sky-500 hover:text-sky-900 dark:hover:text-sky-400"
      href="https://beian.miit.gov.cn/"
      target="_blank">粤ICP备2021063081号-1</a
    >
  </p>
</footer>
