---
const today = new Date();
---

<footer class="mt-8 w-full bg-[#f8fafc] py-6">
  <p class="block text-center text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
    &copy; 2003-{today.getFullYear()} StarHeartHunt. All rights reserved.
  </p>
  <p class="block text-center text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
    Powered by <a href="https://astro.build/" target="_blank">Astro</a>
  </p>
</footer>
