---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="mb-8">
  <nav
    class="sticky inset-0 z-10 block h-max w-full max-w-full rounded-none border border-white/80 bg-white bg-opacity-80 px-4 py-2 text-white shadow-md backdrop-blur-2xl backdrop-saturate-200"
  >
    <div class="flex items-center text-gray-900">
      <a
        href="/"
        class="mr-4 block cursor-pointer py-1.5 font-sans text-base font-medium leading-relaxed text-inherit antialiased"
      >
        {SITE_TITLE}
      </a>
      <ul class="ml-auto mr-8 flex items-center gap-6">
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="https://github.com/StarHeartHunt/blog" target="_blank">GitHub</HeaderLink>
      </ul>
    </div>
  </nav>
</header>
