---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
---

<li
  class="block p-1 font-sans font-normal leading-normal text-inherit antialiased"
>
  <a
    class:list={[
      className,
      "flex items-center cursor-pointer no-underline color-inherit transition-opacity ease-[cubic-bezier(0.25, 0.1, 0.25, 1.0)] duration-200 opacity-60 hover:opacity-100 outline-none",
    ]}
    href={href}
    {...props}
  >
    <slot />
  </a>
</li>
