---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="sticky inset-0 top-0 z-10 mb-8">
  <nav
    class="supports-backdrop-blur:bg-white/60 h-max w-full max-w-full bg-white/95 px-4 py-2 backdrop-blur transition-colors duration-500 dark:border-slate-50/[0.06] dark:bg-transparent lg:z-50 lg:border-b lg:border-slate-900/10"
  >
    <div class="flex items-center text-gray-900">
      <a
        href="/"
        class="mr-4 block cursor-pointer py-1.5 font-sans text-base font-medium leading-relaxed text-inherit antialiased"
      >
        {SITE_TITLE}
      </a>
      <ul class="ml-auto mr-8 flex items-center gap-6">
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="https://github.com/StarHeartHunt/blog" target="_blank">GitHub</HeaderLink>
      </ul>
    </div>
  </nav>
</header>
