---
import RiMoonLine from '~icons/ri/moon-line';
import RiSunLine from '~icons/ri/sun-line';
import UilGithubAlt from '~icons/uil/github-alt';
import ThemeSwitcher from '../components/ThemeSwitcher.tsx';
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="sticky inset-0 top-0 z-10 mb-8">
  <nav
    class="flex justify-center supports-backdrop-blur:bg-white/60 h-max w-full max-w-full bg-white/95 px-6 md:px-8 xl:px-12 py-2 backdrop-blur transition-colors duration-500 dark:border-slate-50/[0.06] dark:bg-transparent lg:z-50 lg:border-b lg:border-slate-900/10"
  >
    <div class="flex items-center w-full text-slate-700 dark:text-slate-200">
      <a
        href="/"
        class="block cursor-pointer py-1.5 font-sans text-base font-medium leading-relaxed text-inherit antialiased"
      >
        {SITE_TITLE}
      </a>
      <ul class="ml-auto flex items-center gap-5">
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink
          href="https://github.com/StarHeartHunt/blog"
          target="_blank"
        >
          <UilGithubAlt />
        </HeaderLink>
        <HeaderLink>
          <ThemeSwitcher client:load>
            <RiSunLine slot="dayIcon" />
            <RiMoonLine slot="nightIcon" />
          </ThemeSwitcher>
        </HeaderLink>
      </ul>
    </div>
  </nav>
</header>
