---
import IconLink from "./IconLink.astro";

import type { HTMLAttributes } from "astro/types";

export interface Link {
  icon: (props: HTMLAttributes<"svg">) => astroHTML.JSX.Element;
  link: string;
  name: string;
}

export interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div class="flex gap-3 flex-wrap -mt-2">
  {
    links.map(({ icon, link, name }) => (
      <IconLink Icon={icon} link={link}>
        {name}
      </IconLink>
    ))
  }
</div>
