---
const { Icon, link } = Astro.props;
---

<a
  class="flex wrap gap-1 items-center border-b hover:border-cyan-500/75 border-[#7d7d7d4d] transition-border ease-in-out duration-300"
  href={link}
  target="_blank"
  rel="noopener"
>
  <span><Icon /></span>
  <slot />
</a>
