---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="antialiased">
    <Header />
    <main
      class="dark:prose-dark prose prose-cyan mx-auto min-h-screen px-6 md:px-8 xl:px-12"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
